@use '../../helpers' as *;

.learn {
	&__list {
		display: grid;
		grid-template-columns: 1fr;
		justify-content: center;
		align-items: center;
		row-gap: fluid(85, 68);
		column-gap: remm(40);

		@include mobile-above-l {
			grid-template-columns: repeat(2, 1fr);
		}
		@include tablet-above {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: fluid(50, 30);
		padding: fluid(50, 30);
		height: 100%;

		&-inner {
			flex: 1 0 0;

			display: flex;
			flex-direction: column;
			text-align: center;
			gap: fluid(20, 10);
		}
	}

	&__picture {
		border: var(--border-gray-15);
		border-radius: remm(10);

		@include desktop {
			border-radius: remm(12);
		}
	}
}
