@use '../../helpers' as *;

.box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: remm(10);
	border: var(--border-gray-15);
	background-color: var(--absolute-white);
	box-shadow: var(--shadow-main);
	position: relative;

	&__list {
		box-shadow: var(--shadow-list-box);
		@include desktop {
			box-shadow: var(--shadow-main);
		}
	}
}
