<footer class="section-footer" id="footer">
	<div class="footer">
		<div class="footer__inner">
			<div class="footer__adress">
				<a href="/" class="footer__logo logo" aria-label="Home" title="Home"
					><img src="./images/academics/svg/icon-logo.svg" alt="Home"
				/></a>
				<p class="footer__slogan">
					We believe in the power of play to foster creativity, problem-solving
					skills, and imagination.
				</p>
				<ul class="footer__contacts">
					<li class="footer__contacts-item">
						<a
							href="mailto:hello@littlelearners.com"
							class="footer__contacts-link"
						>
							<img
								src="./images/academics/svg/icon-black-mail.svg"
								alt=""
								class="icon--svg-footer footer__contacts-link-icon"
								width="32"
								height="32"
							/>
							hello@littlelearners.com
						</a>
					</li>
					<li class="footer__contacts-item">
						<a href="tel:+9191813232309" class="footer__contacts-link">
							<img
								src="./images/academics/svg/icon-black-telephone.svg"
								alt=""
								class="icon--svg-footer footer__contacts-link-icon"
								width="32"
								height="32"
							/>
							+91 91813 23 2309
						</a>
					</li>
					<li class="footer__contacts-item">
						<a
							href="https://www.google.com/maps?q=48.8588443,2.2943506"
							class="footer__contacts-link"
							target="_blank"
						>
							<img
								src="./images/academics/svg/icon-black-location.svg"
								alt=""
								class="icon--svg-footer footer__contacts-link-icon"
								width="32"
								height="32"
							/>
							Somewhere in the World
						</a>
					</li>
				</ul>
			</div>
			<div class="footer__nav">
				<ul class="footer__menu">
					<li class="footer__menu-list">
						<ul class="footer__submenu">
							<li class="footer__submenu-list">
								<a href="/" class="footer__submenu-link">Home</a>
							</li>
							<li class="footer__submenu-list">
								<a href="./index.html#features" class="footer__submenu-link"
									>Features</a
								>
							</li>
							<li class="footer__submenu-list">
								<a
									href="./index.html#our-testimonials"
									class="footer__submenu-link"
									>Our Testimonials</a
								>
							</li>
							<li class="footer__submenu-list">
								<a href="./index.html#faq" class="footer__submenu-link">FAQ</a>
							</li>
						</ul>
					</li>
					<li class="footer__menu-list">
						<ul class="footer__submenu">
							<li class="footer__submenu-list">
								<a href="./academics.html" class="footer__submenu-link"
									>Academics</a
								>
							</li>
							<li class="footer__submenu-list">
								<a
									href="./academics.html#special-features"
									class="footer__submenu-link"
									>Special Features</a
								>
							</li>
							<li class="footer__submenu-list">
								<a href="./academics.html#gallery" class="footer__submenu-link"
									>Gallery</a
								>
							</li>
						</ul>
					</li>
					<li class="footer__menu-list">
						<ul class="footer__submenu">
							<li class="footer__submenu-list">
								<a href="./about.html" class="footer__submenu-link">About Us</a>
							</li>
							<li class="footer__submenu-list">
								<a href="./about.html#our-mission" class="footer__submenu-link"
									>Our Mission</a
								>
							</li>
							<li class="footer__submenu-list">
								<a href="./about.html#our-vission" class="footer__submenu-link"
									>Our Vission</a
								>
							</li>
							<li class="footer__submenu-list">
								<a
									href="./about.html#awards-and-recognitions"
									class="footer__submenu-link"
									>Awards and Recognitions</a
								>
							</li>
							<li class="footer__submenu-list">
								<a href="./about.html#history" class="footer__submenu-link"
									>History</a
								>
							</li>
							<li class="footer__submenu-list">
								<a href="./about.html#teachers" class="footer__submenu-link"
									>Teachers</a
								>
							</li>
						</ul>
					</li>
					<li class="footer__menu-list">
						<ul class="footer__submenu">
							<li class="footer__submenu-list">
								<a href="./contact.html" class="footer__submenu-link"
									>Contact Us</a
								>
							</li>
							<li class="footer__submenu-list">
								<a
									href="./contact.html#information"
									class="footer__submenu-link"
									>Information</a
								>
							</li>
							<li class="footer__submenu-list">
								<a
									href="./contact.html#map-&-direction"
									class="footer__submenu-link"
									>Map & Direction</a
								>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__terms-sol1al">
			<ul class="footer__terms">
				<li class="footer__terms-list">
					<a href="/" class="footer__terms-link">Terms of Service</a>
				</li>
				<li class="footer__terms-list">
					<a href="/" class="footer__terms-link">Privacy Policy</a>
				</li>
				<li class="footer__terms-list">
					<a href="/" class="footer__terms-link">Cookie Policy</a>
				</li>
			</ul>
			<ul class="footer__soc1al">
				<li class="footer__soc1al-list">
					<a
						href="https://www.facebook.com/"
						class="footer__soc1al-link"
						target="_blank"
						aria-label="facebook"
						title="facebook"
						><img
							width="20"
							height="20"
							src="./images/academics/svg/icon-black-facebook.svg"
							alt="facebook"
							class="icon--svg-footer-soc1al"
					/></a>
				</li>
				<li class="footer__soc1al-list">
					<a
						href="x.com"
						class="footer__soc1al-link"
						target="_blank"
						aria-label="twitter"
						title="twitter"
						><img
							width="20"
							height="20"
							src="./images/academics/svg/icon-black-twitter.svg"
							alt="twitter"
							class="icon--svg-footer-soc1al"
					/></a>
				</li>
				<li class="footer__soc1al-list">
					<a
						href="linkedin.com"
						class="footer__soc1al-link"
						target="_blank"
						aria-label="linkedin"
						title="linkedin"
						><img
							width="20"
							height="20"
							src="./images/academics/svg/icon-black-linked-in.svg"
							alt="linked in"
							class="icon--svg-footer-soc1al"
					/></a>
				</li>
			</ul>
		</div>
		<p class="footer__copyright">
			Copyright © [2023] Little Learners Academy. All rights reserved.
		</p>
	</div>
</footer>
