<header class="header" id="header" data-js-header>
	<!-- STUDY BAR -->

	<div class="header__study">
		<a href="/" class="header__study-link"
			><span class="icon--arrow-right"
				>Admission is Open, Grab your seat now</span
			></a
		>
		<img
			src="./images/academics/svg/abstract-design-header-corner-left.svg"
			alt=""
			class="icon--svg-header svg-one"
			width="50"
			height="50"
		/>
		<img
			src="./images/academics/svg/abstract-design-lines-circle-left.svg"
			alt=""
			class="icon--svg-header svg-two"
			width="33"
			height="33"
		/>
		<img
			src="./images/academics/svg/abstract-design-lines-circle-right.svg"
			alt=""
			class="icon--svg-header svg-three"
			width="50"
			height="50"
		/>
		<img
			src="./images/academics/svg/abstract-design-header-corner-right.svg"
			alt=""
			class="icon--svg-header svg-four"
			width="50"
			height="50"
		/>
	</div>

	<!-- HEADER MENU -->

	<div class="header__body">
		<div class="header__body-inner">
			<a class="header__logo logo" href="/" aria-label="Home" title="Home">
				<img
					class="logo__image logo__image-header"
					src="./images/academics/svg/icon-logo.svg"
					alt=""
					width="183"
					height="40"
			/></a>
			<div class="header__overlay" data-js-header-overlay>
				<nav class="header__menu">
					<ul class="header__menu-list">
						<li class="header__menu-item">
							<a href="./index.html" class="header__menu-link">Home</a>
						</li>
						<li class="header__menu-item">
							<a href="./about.html" class="header__menu-link">About Us</a>
						</li>
						<li class="header__menu-item">
							<a href="./academics.html" class="header__menu-link">Academics</a>
						</li>
						<li class="header__menu-item">
							<a href="./admission.html" class="header__menu-link"
								>Admissions</a
							>
						</li>
						<li class="header__menu-item">
							<a href="./student-life.html" class="header__menu-link"
								>Student Life</a
							>
						</li>
						<li class="header__menu-item">
							<a href="./contact.html" class="header__menu-link">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="header__burger-button visible-tablet">
				<button
					class="burger-button"
					title="Open menu"
					aria-label="Open menu"
					data-js-header-burger-button
				>
					<span class="burger-button__line"></span>
					<span class="burger-button__line"></span>
					<span class="burger-button__line"></span>
				</button>
			</div>
		</div>
	</div>
</header>
