@use 'helpers' as *;

:root {
	--absolute-white: #fff;
	--absolute-black: #000;

	--orange-65: #ff8d4d;
	--orange-70: #ff9e66;
	--orange-75: #ffae80;
	--orange-80: #ffbe99;
	--orange-90: #ffdecc;
	--orange-95: #ffefe5;
	--orange-97: #fff5f0;
	--orange-99: #fffcfa;

	--gray-00: #1e1e1e;
	--gray-10: #1a1a1a;
	--gray-15: #262626;
	--gray-20: #333;
	--gray-30: #4c4c4d;
	--gray-35: #59595a;
	--gray-40: #656567;
	--gray-60: #98989a;
	--gray-70: #b3b3b3;

	--font-family: 'Outfit', sans-serif;
	--second-family: 'Raleway', sans-serif;

	--shadow-big-box: #{remm(8)} #{remm(8)} 0 #{remm(1)} var(--gray-00);
	--shadow-main: #{remm(6)} #{remm(6)} 0 #{remm(2)} var(--gray-00);
	--shadow-main-etc: #{remm(6)} #{remm(6)} 0 #{remm(1)} var(--gray-00);
	--shadow-button: #{remm(4)} #{remm(4)} 0 #{remm(2)} var(--gray-00);
	--shadow-link: #{remm(2)} #{remm(2)} 0 #{remm(1)} var(--gray-00);
	--shadow-list-box: #{remm(4)} #{remm(4)} 0 #{remm(1)} var(--gray-00);
	--shadow-hover: 0 0 #{remm(9)} #{remm(8)} var(--orange-65);
	--shadow-lines: #{remm(-2)} #{remm(2)} #{remm(0)} #{remm(6)} var(--orange-80);

	--border-gray-15: #{remm(2)} solid var(--gray-15);
	--border-gray-20: #{remm(2)} solid var(--gray-20);
	--border-black: #{remm(2)} solid var(--absolute-black);

	--transition-duration: 0.2s;

	--100vw: calc(100vw - var(--scrollbar-width));

	--container-width: #{fluid(1600, 380)};
	--container-padding-x: #{remm(16)};

	@include mobile-above-l {
		--container-padding-x: #{remm(36)};
	}
	@include tablet-above {
		--container-padding-x: #{remm(60)};
	}
	@include laptop-above {
		--container-padding-x: #{remm(80)};
	}
	@include desktop {
		--container-padding-x: #{remm(162)};
	}
}
